Source: meilix-default-theme
Section: x11
Priority: optional
Maintainer: meilix <vanhonit@gmail.com>
Build-Depends: debhelper (>= 10.0.0)
Standards-Version: 4.1.4
Homepage: http://mbm.vn

Package: meilix-default-theme
Architecture: all
Depends: ${misc:Depends}
Description: default theme for meilix
 The default theme for meilix.