Package: meilix-default-theme
Version: 1.0-1
Architecture: all
Maintainer: meilix <vanhonit@gmail.com>
Installed-Size: 1189
Section: x11
Priority: optional
Homepage: http://mbm.vn
Description: default theme for meilix
 The default theme for meilix.
